<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HTML5 Game</title>
        <meta name="description" content="A basic HTML5 game">
        <meta name="author" content="Testman">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
    </head>
    <body>
        <canvas id="canvas1"></canvas>
        <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
    </body>
</html>