<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HTML5 Game</title>
        <meta name="description" content="A basic HTML5 game">
        <meta name="author" content="Testman">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet2.css') }}">
    </head>
    <body>
        <div><a href="game"  class="transparent">
            <p><span class="bg"></span><span class="base"></span><span class="text">PLAY</span></p>
        </a><a id="myBtn" class="white">
            <p><span class="bg"></span><span class="base"></span><span class="text">HOW TO PLAY</span></p>
        </a></div>
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">Return to Main Menu</span>
              <h2>Keys</h2>
              <p class="pp">Arrows - Moves character</p>
              <p class="pp">E - Pick power ups </p>
              <p class="pp">Left click - Cast a fireball </p>
              <h2>Details</h2>
              <p class="pp"><img src="static/img/health_potion.png" alt="Health Potion" width="30" height="30"> power up gives +50 health points</p>
              <p class="pp"><img src="static/img/sword.png" alt="Light Saber" width="30" height="30"> power up gives +50 damage</p>
              <p class="pp"><img src="static/img/fireball.png" alt="Fireball" width="30" height="30"> does 25 + (power up) damage</p>
              <p class="pp">After a player dies they will respawn after 10 seconds</p>
            </div>
          </div>
          <script>
            // Get the modal
            var modal = document.getElementById("myModal");
            
            // Get the button that opens the modal
            var btn = document.getElementById("myBtn");
            
            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            
            // When the user clicks the button, open the modal 
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
            </script>
            
    </body>
</html>